<template>
  <div class="<%= name %>">
    <h2>{{ msg }}</h2>
  </div>
</template>
<script setup lang="ts">
  import { ref } from "vue";

  const msg = ref("<%= name %>");
</script>
<style lang="less" scoped>
  .<%=name %> {
    
  }
</style>